body {
    background: #141414;
}

svg {
    background: #141414;
}

html, body, #graph {
    width: 900px;
    height: 500px;
}

.node circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

.okay circle {
    fill: #4BB543;
}

.failed circle {
    fill: #ff0033;
}

.node text {
    fill: white;
    pointer-events: none;
    text-anchor: middle;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}

.node text.level1 {
    font-size: 16px;
}

.node text.description.level1 {
    font-size: 12px;
}

.node text.level2 {
    font-size: 12px;
}

.node text.description {
    font-size: 8px;
}

.node text.level3 {
    font-size: 10px;
}

.node text.level4 {
    font-size: 8px;
}


.node text.level5 {
    font-size: 8px;
}

.node text.description.level4, text.description.level5 {
    display: none;
}

.failed text {
    color: white;
}

line.link {
    fill: none;
    stroke: darkgray;
    stroke-width: 2px;
}
