body {
    background: black;
}

svg {
    background: black;


}

.node circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

.okay circle {
    fill: #115511;
    stroke: #77FF77;
}

.failed circle {
    fill: #551111;
    stroke: #FF7777;
}

.node text {
    stroke-width: 1px;
    stroke: darkgray;
    font: 10px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

line.link {
    fill: none;
    stroke: darkgray;
    stroke-width: 2px;
}
